@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

$main-font: "Fira Mono", monospace;

$family-sans-serif: $main-font;

$black-coffee: #342e37;
$darker-coffee: #28232b;
$bright-blue: #02aeb9;
$cream: #fefef8;
$light-green: #c9dfd3;
$light-red: #f07167;
$darker-red: #e03616;
$white: #fff9e6;

$light: $cream;
$dark: $black-coffee;
$link: $light-red;
$info: $darker-red;
$warning: $bright-blue;
$success: $darker-coffee;
$danger: $light-green;

$control-border-width: 2px;
$body-background-color: $cream;
$navbar-item-hover-color: $light-red;
$hr-background-color: $light-red;
$footer-padding: 1.5rem;
$footer-background-color: $light;
$input-shadow: none;
$input-focus-border-color: $dark;
$icon-dimensions-large: 5rem;
$modal-content-width: 360px;
$modal-content-spacing-mobile: 10px;

.whole-page {
  position: relative;
  min-height: 100vh
}

// NAVBAR

.dropdown {
  min-width: 220px;
}

.Typewriter {
  line-height: 1.5;
  padding: 15px 0 0 10px;
  .cursor {
    display: inline-block;
    position: relative;
  }
  .cursor::after {
    content: "";
    margin: auto;
    position: absolute;
    right: -4px;
    top: -3px;
    width: 1px;
    height: 100%;
    background-color: #666;
    animation: cursor-animation 1.5s step-end infinite;
  }
  @keyframes cursor-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.contact-icon {
  font-size: 60px;
  color: $link;
  transition: 0.3s;
  &:hover {
    color: $darker-red;
    transform: scale(1.06);
    transition: 0.3s;
  }
}

.navbar {
  border-bottom: 3px dotted #00000048;
}
.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
  transition: 0.4s;
}

.nav-button {
  &:hover {
    transform: scale(1.06);
  }
}

.nav-button-logo {
  &:hover {
    background-color: transparent;
    transform: scale(1.5);
  }
}

.Header {
  .hero-body {
    background-image: url(../assets/background-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content-link:hover {
  color: $darker-red;
}

.project-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
  box-shadow: 0 0 15px rgba($color: #555555, $alpha: 0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  height: 72px;
  width: 100%;
  @media screen and (max-width: 500px) {
    bottom: -72px;
  }
}

@import "~bulma/bulma.sass";
