@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

$main-font: "Fira Mono", monospace;

$family-sans-serif: $main-font;


$black-coffee: #342e37;
$bright-green: #c6f91f;
$white: #ffffff;
$black: #000000;
$red: #e03616;


$primary: $white;
$dark: $black-coffee;
$link: $red;
$info: $red;
$warning: $bright-green;
$body-background-color: $white;
$success: #28232b;
$control-border-width: 2px;
$danger: $red;
$navbar-item-hover-background-color: none;
$navbar-item-hover-color: none;
$hr-background-color: $red;

$footer-padding: 1.5rem;
$footer-background-color: $primary;

.whole-page {
  position: relative;
  min-height: calc(100vh - 3.25rem);
}

hr {
  background-color: $bright-green;
}


// NAVBAR

.dropdown {
  min-width: 220px;
}

.Typewriter {
  line-height: 1.5;
  padding: 15px 0 0 0;
  .cursor {
    display: inline-block;
    position: relative;
  }
  .cursor::after {
    content: "";
    margin: auto;
    position: absolute;
    right: -4px;
    top: -3px;
    width: 1px;
    height: 100%;
    background-color: #666;
    animation: cursor-animation 1.5s step-end infinite;
  }
  @keyframes cursor-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-active {
      .navbar-dropdown {
        display: block;
      }
    }
  }
  transition: 0.4s;
  
}

.nav-button {
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $bright-green;
    transform: scale(1.05);
  }
}

.project-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
  box-shadow: 0 0 15px rgba($color: #555555, $alpha: 0.5);
}


.footer {
  position: absolute;
  bottom: 0;
  height: 72px;
  width: 100%;
  @media screen and (max-width: 500px) {
    bottom: -72px;
  }
}

@import "~bulma/bulma.sass";
